.breadcrumb {
    ul {
        padding:0px;
    }
    width: 49%;
    padding: 0px;
    font-family: sans-serif;
    &__item {
        display: inline-block;
    }
    &__item:not(:last-of-type)::after {
        content: '\203a';
        margin: 0 5px;
        color: #b3b2b2;
    }
    &__link {
        text-decoration: none;
        color: #999999;

    }
    &__link:hover {
        text-decoration: underline;
    }
    &__link--active {
        color: #7e7e7e;
        font-weight: 500;

    }
}