.nav-header {
  background-color: #ffe600;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav-form {
  width: 45%;
  display: flex;
  border-radius: 5px;
}
.primary-icon {
  height: 30px;
}

.nav-search-input {
  outline: none;
  border: none;
  padding-left: 10px;
  height: 30px;
  width: 95%;
}

.search-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  background: rgb(238, 238, 238);
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
