.detail-item-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
}

.detail-item-card {
    display: flex;
    border: 1px solid #e2e8ee;
    border-radius: 5px;
    width: 48%;
    padding: 10px;
    background: white;
    &__image-description {
        width: 65%;
        color: rgb(0, 0, 0);
        padding: 15px;
    }
    &__information {
        width: 35%;
        padding: 15px;
        &__price {
            font-weight: 400;
            font-size: 40px;
            margin: 32px 0 32px 0;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
          }
        &__product-title {
            font-size: 32px;
            margin: 16px 0 32px 0;
        }
        &__state-sold {
            font-size: 14px;
            opacity: 0.9;
            margin: 32px 0 16px 0;
        }
        &__button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 40px;
            background: #3483fa;
            color: #fff;
            font-size: 15px;
            border: none;
            cursor: pointer;
            transition: .3s ease all;
            border-radius: 5px;
        }
        &__button:hover {
            background: #66a0f8;
        }    
    }
  }

  @media (max-width: 1250px) { 
    .detail-item-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .description-product-title{
      font-size: 28px;
      font-weight: 500;
  }

  .description {
      opacity: 0.5;
      font-size: 16px;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
