.list-items-card {
  border: 1px solid #e2e8ee;
  border-radius: 5px;
  width: 48%;
  padding: 10px;
  background: white;
}

.list-items-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  border-bottom: 1px solid rgba(236, 232, 232, 0.5);
  gap: 10px;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  &:last-child {
    border-bottom: none;
  }
}
@media (max-width: 790px) {
  .item-description-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.item-description-container {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  &__image {
    width: 20%;
  }
  &__price_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    width: 60%;
    padding-left: 15px;
    p {
      max-width: 40ch;
      font-size: medium;
    }
  }
  &__condition {
    padding: 20px;
    width: 20%;
    font-size: small;
  }
}
